{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "unused-imports/no-unused-imports": "error",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "indent": ["error", 2],
    "react/jsx-indent-props": [2, 2],
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ]
  }
}
